// borderd button: hover effect | Mostly used in HeadNav & Cards
.border-animated {
  overflow: hidden;
  transition: 0.2s;
  border-radius: 999px;
  // hover states
  &__animation {
    &:hover {
      scale: 1;
    }
  }
  &:hover {
    color: white;
    border: 2px solid #dc2323;
    span {
      scale: 6;
    }
  }
}
// bordered animated secondary button: handle bullshit bugs
.border-animated.second {
  border: 2px solid transparent;
  &:hover {
    border: 2px solid #f53838;
  }
}
// cta type button hover effects | Mostly used in Hero & CTA
.cta-animted {
  transition: 0.2s;
  // overall hypothetical elements
  &::after,
  &::before {
    transition: transform 0.3s, opacity 0.6s;
    content: "";
    transform: scale(0.5);
    border-radius: 1rem;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
  }

  &::before {
    border: 2px solid #f53838;
    transform: scale(0);
  }

  &::after {
    background-color: #f53838;
  }

  // Hover effects
  &:hover {
    color: #0b132a;
    background-color: transparent;
    box-shadow: 0 3rem 4rem rgba(245, 56, 56, 0.3);

    &::before {
      transform: scale(1);
    }
    &::after {
      transform: scaleX(1.2) scaleY(1.6);
      opacity: 0;
    }
  }

  // active state: when user click on this element
  &:active {
    color: white;

    &::after {
      transition: transform 0.03s, opacity 0.06s;
      opacity: 1;
      transform: scaleX(1) scaleY(1);
    }
  }
}
