.card-wrapper {
    position: relative;
  }
  
  .card-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    background-size: 600% 600%;
    border-radius: 16px;
    animation: AnimateBorder 4s ease infinite;
    -webkit-animation: AnimateBorder 4s ease infinite;
    -moz-animation: AnimateBorder 4s ease infinite;
    z-index: -1;
    transform: translate(-2px, -2px);
    transition: 1s ease-in;
    background: linear-gradient(#dddddd, #dddddd);
  
    &--active {
      background: linear-gradient(var(--color-primary), var(--color-primary));
    }
  }
  
  .card-wrapper:hover .card-bg {
    background: linear-gradient(
      90deg,
      #ff8038 0%,
      #ff0099 30.43%,
      #00ebeb 68.23%,
      #db00ff 100%
    );
    filter: blur(10px);
    transition:  0.4s ease-in;
  }
  
  @-webkit-keyframes AnimateBorder {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
  @-moz-keyframes AnimateBorder {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
  @keyframes AnimateBorder {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
  