// .embla {
//   overflow: hidden;
//   width: 100%;
//   padding-bottom: 20rem;

//   &__container {
//     display: flex;
//     width: 100%;
//     gap: 5rem;
//     @media screen and (max-width: 48em) {
//       gap: 3rem;
//     }
//   }

//   &__slide {
//     flex: 0 0 40%;
//     min-width: 0;

//     @media screen and (max-width: 64em) {
//       flex: 0 0 66.6%;
//     }
//     @media screen and (max-width: 48em) {
//       flex: 0 0 88%;
//     }
//   }

//   &__prev {
//     margin-right: 2rem;
//   }

//   &__prev,
//   &__next {
//     background-color: var(--color-primary);
//     border: 0.2rem solid var(--color-primary);
//     color: white;
//     padding: 1.2rem;
//     border-radius: 999px;
//     font-size: var(--text-5xl);
//     cursor: pointer;
//     transition: 0.2s;

//     &--disabled {
//       background-color: white;
//       color: var(--color-primary);
//     }
//   }

//   &__dots {
//     display: flex;
//     gap: 1.5rem;
//     user-select: none;
//   }

//   &__dot {
//     background-color: #dde0e4;
//     border-radius: 999px;
//     width: 1.5rem;
//     height: 1.5rem;
//     cursor: pointer;

//     &--active {
//       background: var(--color-primary);
//       width: 4.5rem;
//     }
//   }
// }


.swiper-button-next,
.swiper-button-prev {
    background-color: white;
    background-color: rgba(255, 255, 255, 0.5);
    right:10px;
    padding: 30px;
    color: #000 !important;
    fill: black !important;
    stroke: black !important;
    position: absolute !important;
    bottom: 100% !important;
}