footer {
    li {
        position: relative;
        &::before {
            content: '●';
            transition: .2s;
            position: absolute;
            left: 10%;
            top: 50%;
            transform: translateY(-50%);
            opacity: 0;
            cursor: pointer;
            font-weight: bold;
        }
        &:hover {
            color: #0b132a;
        }
        &:hover::before {
            left: -20%;
            opacity: 1;
        }
    }
}

.footer-icon {
    position: relative;
    overflow: hidden;
    transition: .2s;
    &__bg {
        transition: top .2s, transform .6s;
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: #f53838;
        top: -100%;
        transform: scale(0);
        // z-index: -1;
    }
    &:hover &__bg {
        transform: scale(2);
        top: 0%;
    }
    &:hover {
        color: white;
    }
}