/* Global reset */
html {
  font-size: 62.5%;

  @media all and (max-width: 80em) {
    font-size: 60%;
  }
  @media all and (max-width: 64em) {
    font-size: 55%;
  }
  @media all and (max-width: 48em) {
    font-size: 50%;
  }
}
body {
  font-family: "Rubik", sans-serif;
  color: var(--color-gray);
}
img,
button {
  user-select: none;
  -webkit-user-drag: none;
}

::selection {
  background-color: var(--color-primary);
  color: var(--color-primary-light);
}

/* List Component */
.list {
  margin-bottom: 12rem;

  &__item {
    display: flex;
    align-items: center;
    gap: 1rem;
    position: relative;
    width: 70%;
    margin: 0 auto;
    margin-bottom: 2rem;
    &::before {
      content: "";
      display: inline-block;
      width: 1.4rem;
      height: 1.4rem;
      background-image: url(./assets/chekmark.png);
      background-size: contain;
      background-repeat: no-repeat;
      transform: translateY(25%);
    }
  }

  &__item--empty::before {
    // background-image: ;
  }
}
