@import "tailwindcss";

/* Convert to first desktop approach */
@custom-variant 2xl (@media (max-width: 96em));
@custom-variant xl (@media (max-width: 80em));
@custom-variant lg (@media (max-width: 64em));
@custom-variant md (@media (max-width: 48em));
@custom-variant sm (@media (max-width: 40em));
/* Custom Variables */
@theme {
  /* Colors */
  --color-super-light: #eeeff2;
  --color-primary-light: #ffecec;
  --color-primary: #f53838;
  --color-secondary: #2fab73;
  --color-gray: #4f5665;
  --color-black: #0b132a;
  --color-background: #F6F6F6;
  /* Font Sizes */
  --text-xl: 1.4rem;
  --text-2xl: 1.6rem;
}
/* Change Default styles for container */
@utility container {
  padding: 3rem;
  padding-bottom: 6rem;
  max-width: 128rem;
  margin: 0 auto;
}
/* Global reset */
html {
  font-size: 62.5%;
}
body {
  font-family: "Rubik", sans-serif;
  color: var(--color-gray);
}
img,
button {
  user-select: none;
  -webkit-user-drag: none;
}

/* Global media queries */
@media (max-width: 80em) {
  html {
    font-size: 60%;
  }
}

@media (max-width: 64em) {
  html {
    font-size: 55%;
  }
}

@media (max-width: 48em) {
  html {
    font-size: 50%;
  }
}

/* List Component */
.list {
  margin-bottom: 8rem;
}
.list .list__item {
  display: flex;
  align-items: center;
  gap: 1rem;
  position: relative;
  width: 70%;
  margin: 0 auto;
  margin-bottom: 2rem;
}
.list .list__item::before {
  content: "";
  display: inline-block;
  width: 1.4rem;
  height: 1.4rem;
  background-image: url(./assets/chekmark.png);
  background-size: contain;
  background-repeat: no-repeat;
  transform: translateY(25%);
}
