@import "tailwindcss";

/* Convert to first desktop approach */
@custom-variant 2xl (@media (max-width: 96rem));
@custom-variant xl (@media (max-width: 80rem));
@custom-variant lg (@media (max-width: 64rem));
@custom-variant md (@media (max-width: 48rem));
@custom-variant sm (@media (max-width: 40rem));
/* Custom Color */
@theme {
  --color-primary: #F53838;
  --color-secondary: #2FAB73;
  --color-gray: #4F5665;
  --color-black: #0B132A;
}

html {
  font-size: 62.5%;
}
body {
  font-family: "Rubik", sans-serif;
  color: var(--color-gray);
}
img,
button {
  user-select: none;
  -webkit-user-drag: none;
}
